.meats {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.meats div{
  text-align: center;
}

.meat-img {
  aspect-ratio: 1/1;
  object-fit: contain;
}
