.hero .hero-section {
  display: flex;
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.hero-taste {
  max-width: 18rem;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0.5rem 1.5rem;
  text-align: center;
  border-radius: 3.9375rem;
  border: 3px solid #f90;
  background: linear-gradient(
    91deg,
    rgba(22, 22, 22, 0.56) 5.52%,
    rgba(68, 66, 66, 0.42) 99.76%
  );
  margin-bottom: 2.5rem;
  margin-top: 3rem;
}

.hero-article {
  margin-bottom: 2rem;
}

.hero-header {
  font-size: 4rem;
}

.orange-text {
  color: var(--primary);
}

.hero-desc {
  font-size: 1.5rem;
  margin: 2rem 0;
}

.hero-form {
  display: flex;
  flex-direction: row;
  padding: 0.7rem 0;
  border-radius: 1.3rem;
  background: #fff;
  box-shadow: 0px 0px 80px 0px rgba(255, 255, 255, 0.14);
}

.hero-form input {
  border-radius: 1.3rem;
  padding: 1rem 2rem;
  border: none;
  outline: none;
}

.btn-grab-it {
  color: var(--secondary);
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0.5rem 3rem;
  margin-left: 4.5rem;
  border: none;
  border-radius: 1.3rem;
  background: linear-gradient(90deg, #f90 1.66%, #ff2f31 99.83%);
  box-shadow: 0px 0px 80px 0px rgba(255, 255, 255, 0.14);
  cursor: pointer;
}

.hero .hero-img {
  max-width: 41rem;
}

.platter {
  margin-bottom: 6rem;
}

.platter article {
  text-align: center;
  max-width: 50rem;
  margin: 0 auto;
}

.platter-header {
  font-size: 4rem;
  margin-bottom: 1.5rem;
}

.platter article p {
  font-size: 1.5rem;
}

.platter-dish {
  display: flex;
  justify-content: center;
}

.explore {
  display: flex;
  align-items: center;
}

.explore-header {
  font-size: 4rem;
}

.explore-desc {
  font-size: 1.5rem;
  margin: 3rem 0;
}

.explore-img {
  max-width: 35rem;
}

.pepper {
  margin: 0 auto;
  width: 4.5rem;
}

.meals {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.chef {
  display: grid;
  place-items: center;
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.chef-header {
  max-width: 50rem;
  text-align: center;
}

.chef-heading {
  font-size: 4rem;
}

.chef-recipe {
  display: flex;
  align-items: center;
}

.chef-recipe p {
  font-size: 1.5rem;
}

.chef-recipe p .btn {
  display: inline-block;
  margin-top: 2rem;
}

.booking {
  display: flex;
}

.booking h1 {
  font-size: 4rem;
  margin-bottom: 1.5rem;
}

.booking img {
  max-width: 40rem;
  position: relative;
  left: 12rem;
}

.book {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
}

.book input {
  background-color: transparent;
  border-radius: 2.75rem;
  border: 1px solid #f90;
  padding: 1.5rem;
}

.book input::placeholder{
  color: white;
}

.book input:focus {
  outline: 1px solid #f90;
}
