*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

ul,
li {
  list-style: none;
}

:root {
  --primary: #ff9900;
  --secondary: #d1d1d2;
  font-family: "Montserrat", sans-serif;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-image: radial-gradient(
      50% 50% at 50% 50%,
      rgb(22 22 22 / 90%) 0%,
      rgb(22 22 22 / 90%) 100%
    ),
    url(/src/assets/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--secondary);
}

a {
  text-decoration: none;
  color: var(--secondary);
}

.container {
  margin: 1rem 5rem;
}
