*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-image: radial-gradient(
      50% 50% at 50% 50%,
      rgba(22, 22, 22, 0.44) 0%,
      rgba(22, 22, 22, 0.78) 100%
    ),
    url("../src/assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

:root {
  --primary: #ff9900;
  --secondary: #d1d1d2;
  font-family: "Montserrat", sans-serif;
}
